.service-summary {
  margin: 8rem 0;
}

.service-summary__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* align-items: center; */
  place-items: center;
  position: relative;
  background-color: white;
  border-radius: 0.8rem;
  padding: 2.9rem 1rem;
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.09);
  transition: all .3s ease-in-out;
}

.service-summary__wrapper:hover::before{
    transform: rotate(-2deg);
}

.service-summary__wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-inline: auto;
  margin-block: auto;
  width: 95%;
  height: auto;
  border-radius: 1.6rem;
  background-color: var(--color-primary);
  transform: rotate(2deg);
  z-index: -1;
   transition: all .3s ease-in-out;
}

.service-summary__cart:nth-child(2) {
  padding: 0 6rem;
  border-right: 1px solid #E7E7E7;
  border-left: 1px solid #E7E7E7;
}

.service-summary__cart {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.service-summary__cart-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.service-summary__cart-content {
}

.service-summary__cart-content-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.service-summary__cart-content-description {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  text-align: right;
  color: #454545;
}
