.footer {
  background-color: white;
  padding: 3rem;
  border-radius: 1rem;
  margin-top: 8rem;
  box-shadow: 0 0.4rem 4rem 0 rgba(0, 0, 0, 0.107);
  border-radius: 2rem;
  margin-bottom: 2rem;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer__logo-image {
  margin-bottom: 2rem;
}

.footer__description {
  text-align: justify;
  font-weight: 400;
  font-size: .75rem;
  line-height: 1.8;
  color: var(--color-secondary-600);
}

.footer__links,
.footer__contact {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
  margin: 0 auto;
}

.footer__links-title {
  text-align: right;
  font-weight: 700;
  font-size: 1.25rem;
  color: var(--color-primary-900);
  /* margin-bottom: 2rem; */
}

.footer__menu {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 66%;
  font-weight: 400;
  font-size: .875rem;
  gap: 2rem;
  white-space: nowrap;
}

.footer__menu-item {
  cursor: pointer;
  color: var(--color-secondary-600);
  transition: all 0.3s ease-in-out;
}

.footer__menu-item:hover {
  color: var(--color-primary-900);
}

.footer__enamad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__enamad-image {
  max-width: 130px;
  background-color: #f4f4f4;
  padding: 1rem;
  border-radius: 1rem;
}

.footer__enamad-image-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
