/* .doctor-details {
  max-width: 1200px;
  margin: 0 auto;
}

.doctor-details__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: red;
}

@media (min-width: 640px) {
  .doctor-details__container {
    flex-direction: row;
  }
}

.doctor-details__image-wrapper {
  width: 100%;
}

@media (min-width: 640px) {
  .doctor-details__image-wrapper {
    max-width: 18rem;
  }
}

.doctor-details__image {
  width: 100%;
  border-radius: 0.5rem;
  background-color: #3b82f6;
}

.doctor-details__info {
  flex: 1;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  padding: 2rem;
  background-color: #ffffff;
  margin-top: 5rem;
}

@media (min-width: 640px) {
  .doctor-details__info {
    margin-top: 0;
  }
}

.doctor-details__name {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 2.4rem;
  font-weight: 700;
  color: #111827;
}

.doctor-details__verified-icon {
  width: 1.25rem;
}

.doctor-details__credentials {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.4rem;
  color: #4b5563;
  margin-top: 0.25rem;
}

.doctor-details__degree {
  margin: 0;
}

.doctor-details__experience {
  padding: 0.125rem 0.5rem;
  border: 1px solid #d1d5db;
  border-radius: 9999px;
  font-size: 1.2rem;
  background: none;
  cursor: pointer;
}

.doctor-details__about {
  margin-top: 0.75rem;
}

.doctor-details__about-title {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: #111827;
}

.doctor-details__info-icon {
  width: 1rem;
}

.doctor-details__about-text {
  font-size: 1.4rem;
  color: #6b7280;
  max-width: 90rem;
  margin-top: 0.25rem;
}

.doctor-details__fee {
  font-size: 1.6rem;
  font-weight: 500;
  color: #6b7280;
  margin-top: 1rem;
}

.doctor-details__fee-amount {
  color: #4b5563;
}

.doctor-details__booking {
  margin-top: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #374151;
}

@media (min-width: 640px) {
  .doctor-details__booking {
    margin-left: 18rem;
    padding-left: 1rem;
  }
}

.doctor-details__booking-title {
  margin: 0;
}

.doctor-details__slots {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  overflow-x: auto;
  margin-top: 1rem;
}

.doctor-details__slot {
  text-align: center;
  padding: 1rem;

  min-width: 4rem;
  border: 1px solid #e5e7eb;
  border-radius: 1rem;
  cursor: pointer;
}

.doctor-details__slot--active {
  background-color: #3b82f6;
  color: #ffffff;
}

.doctor-details__book-button {
  background-color: #3b82f6;
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 300;
  padding: 0.75rem 3.5rem;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
  margin-top: 1.25rem;
}

.doctor-details__book-button:hover {
  background-color: #2563eb;
} */

.doctor-details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 4rem;
}
.doctor-details__wrapper {
  grid-column: 1 / 3;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.05);
}

.doctor-details__content-cover-wrapper {
  max-width: 15rem;
  height: auto;
}

.doctor-details__content-cover-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #e7e7e7;
  border-radius: 0.2rem;
}

.doctor-details__content {
  display: flex;
  /* align-items: center; */
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1.5rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid #e7e7e78f;
  /* background-color: red; */
}

.doctor-details__content-info {
}

.doctor-details__content-info-name {
  font-size: 2rem;
  color: rgb(17, 24, 39);
  font-weight: 700;
}

.doctor-details__content-info-specialty {
  font-size: 1.4rem;
  color: rgb(75, 85, 99);
}

.doctor-details__content-info-address {
  color: rgb(107, 114, 128);
  font-size: 1.4rem;
}

.doctor-details__content-info-firstappo {
  color: rgb(107, 114, 128);
  font-size: 1.4rem;
}

.doctor-details__bio {
  margin-top: 2rem;
  padding: 1.5rem;
}

.doctor-details__bio-title {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 157.3%;
  margin-bottom: 1.3rem;
}

.doctor-details__bio-description {
  font-size: 1.4rem;
  font-weight: 400;
  color: #5d5d5d;
}

.doctor-details__calender {
  background-color: white;
   box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
  padding: 1.5rem;
}

.doctor-details__calender-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #e7e7e77d;
}

.doctor-details__calender-title {
  font-size: 1.8rem;
  font-weight: bold;
}

.doctor-details__calender-date {
  font-size: 1.5rem;
  font-weight: 400;
  color: #888888;
}

.doctor-details__calender-slots {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.7rem;
  margin-top: 1.5rem;
}

.doctor-details__slot {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.2rem;
  min-width: 4rem;
  background-color: #F7F7F7;
  /* border: 1px solid #e5e7eb; */
  border-radius: 1rem;
  cursor: pointer;
}

.doctor-details__slot--active {
  background-color: var(--color-primary);
  color: #ffffff;
}

.doctor-details__calender-button {
  width: 100%;
  background-color: var(--color-primary);
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  margin-top: 1.25rem;
}

.doctor-details__calender-button:hover {
  background-color: #2563eb;
}
