.doctor-list__cart {
  position: relative;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 1.5rem;
  background-color: white;
  border-radius: 0.8rem;
  /* border: 1px solid var(--color-primary); */
  box-shadow: 0 4px 25px 0 rgba(0, 47, 114, 0.086);
}

.doctor-list__cart-content-overlay {
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
  display: inline-flex;
  align-items: center;
  gap: 0.7rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--color-dotted);
}

.doctor-list__cart-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1.2rem;
}

.doctor-list__cart-content {
  margin-top: 1.5rem;
}

.doctor-list__cart-title {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.6rem;
  line-height: 200%;
  font-weight: 700;
  color: var(--color-secondary);
  margin-bottom: 0.8rem;
}

.doctor-list__cart-icon {
  width: 2.2rem;
  height: 2rem;
}

.doctor-list__cart-description {
  display: flex;
  align-items: center;
  text-align: justify;
  gap: 0.4rem;
  font-size: 1.4rem;
  line-height: 24px;
  color: var(--color-text);
  margin-bottom: 1.2rem;
}

.doctor-list__cart-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.8rem 1.6rem;
  border: 1px solid var(--color-primary);
  /* background-color: var(--color-primary); */
  /* box-shadow: 0 4px 10px 0 #006eff5d; */
  color: var(--color-primary);
  border-radius: 1.6rem;
  font-size: 1.6rem;
  font-weight: 700;
  text-decoration: none;
  margin-top: 2rem;
  transition: all 0.3s;
}

.doctor-list__cart-cta:hover {
  color: white;
  background-color: var(--color-primary);
  box-shadow: none;
}

.doctor-list__cart-cta-icon {
  width: 1.8rem;
  height: 1.8rem;
}
