.doctor-info {
  display: flex;
  margin-top: 3rem;
  /* flex-direction: row-reverse; */
}

.doctor-info__img {
  background-color: var(--color-primary);
  max-width: 20rem;
  border-radius: 0.5rem;
}

.doctor-info__content {
  flex: 1 1 0%;
  border: 1px solid rgb(173, 173, 173);
  border-radius: 0.5rem;
  margin-inline: 2rem;
  background: white;
  padding: 2rem;
}

.doctor-info__content-title {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 2.875rem;
  line-height: 4.25rem;
  font-weight: 700;
  color: rgb(55, 65, 81);
}

.doctor-info__specialty {
  margin-top: 1rem;
  display: flex;
  /* flex-direction: row-reverse; */
  /* justify-content: start; */
  align-items: center;
  gap: 0.5rem;
  font-size: 1.6rem;
  font-weight: 700;
}

.doctor-info__specialty-title {
  /* font-size: 1.6rem; */
}

.doctor-info__specialty-text {
  font-size: 1.2rem;
  padding: 0.5rem;
  border: 1px solid gainsboro;
  border-radius: 3rem;
  font-weight: 400;
}
